@font-face {
    font-family: "circular";
    src: url("fonts/circular-std-2.ttf");
}

body {
    font-family: "circular";
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;
    position: relative; /* Important for the pseudo-element positioning */
    overflow: hidden;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/flops.jpg") center center / cover no-repeat;
    filter: blur(4px) brightness(0.1) contrast(1);
    box-shadow: inset 0 0 550px rgba(0, 0, 0, 0.9); /* Adding inner shadow */
    z-index: -1; /* Ensure the blurred background is behind the body content */
  }

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 100%;
}

#left-clmn{
    grid-column: 1/2;
    margin: 5vh 0 5vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#right-clmn{
    grid-column: 2/3;
    /*background-color: aqua;*/
    margin: 5vh 5vh 5vh 0;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

nav > button{
    font-family: "circular";
    width: 100%;
    height: 100%;
    color: #5E5E5E;
    text-align: center;
    font-size: 18.5px;
    font-weight: 500;
    background-color: none;
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    cursor: pointer;
}

nav > button:hover{
    color: white;
}


.main-img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 20px;
    background: url("images/flops.jpg") rgb(0, 0, 0) 100% / cover no-repeat;
}


#meta-data{
    width: 100%;
    height: auto;
}

#meta-data > p{
    color: #FFF;
    text-align: center;
    font-family: "Circular Std";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    margin-bottom: 1vh;


}

.audio-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #7a7a7a;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }

  .progress {
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 5px;
  }

  .time-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: white;
  }